*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Top Head Section start*/
.tophead{
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0px 100px;
    align-items: center;
    background-color: #05571d;
    justify-content: space-between;
}
.tophead ul li{
    color: #fff;
    display: inline-block;
    margin: 0px 3px;
}
.tophead ul  li a{
    color: #c2e4c6;
}
/* Top Head Section End*/
/* header section Start */
header{
    width: 100%;
    height: 100px;
    background-color:#3fba64;
    color: #fff;
    padding: 0px 100px;
    line-height: 100px;
}
header h1{
    font-size: 50px;
    margin-right: 20px;
}
header h1, header h3
{
    display: inline-block;
}
/* header section End */
/* Nav Section Start */
nav{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0px 100px;
    background: #83e3a0;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    list-style: none;
}
nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight:600;
}
nav ul li a:hover{
    font-size: 105%;
    transition: 0.3s linear;
}
/* Nav Section End */
/* Content Section Start*/
section{
    width: 100%;
    padding: 0px 100px;
}
section main{
    width: 85%;
    float: left;
    padding-top: 20px;
}
section main .para2{
    padding-left:40px;
    
}
section main .p2{
    border-left: 2px solid green;
    
    
}
section main .p0{
    color: #17ad17;
}
section main ul{
    padding-left: 50px;
}
section main ol{
    padding-left: 40px;

}
section aside{
    width: 15%;
    float: right;
    padding: 20px 15px;
    background: #e0d5d5;
}
aside ul li{
    list-style: none;
    font-weight: 600;
}
aside ul li ul li {
    font-weight: normal;
    padding-left: 20px;
}
/* Content Section End*/
/*footer Section Start */
footer{
    width: 100%;
    height: 100px;
    background: #05571d;
    color: #fff;
    padding: 10px 100px;
}
footer .link{
    width: 33%;
    float: left;
}
footer .follow{
    width: 33%;
    float: left;
}
footer .copy{
    width: 34%;
    float: right;
    text-align: right;
}
footer div h5{
    margin-top: 5px;
}
/*footer Section End */

